.postContainer {
    /* border-width: 2px;
    border-color: white;
    border-style: groove; */
    /* margin-left: 15px; */
    /* margin-top: 15px; */
    margin: auto;
    width: 80%;
    border: 0px groove green;
    padding: 10px;
    /* background-color: brown; */
    /* float:left */
}

.card {
    width: 100%;
    /* padding: 5px; */
    /* position: relative; */
    margin: auto;
    /* float: left; */
}
.avatar {
    background:'linear-gradient(45deg,#2196F3 30%,#21CBF3 90%)';
    color:red;
}
